<div class="wrapper animated fadeInRight" ng-controller="productDashboardController" ng-init="init()">
    <div class="row wrapper border-bottom white-bg">
        <div class="col-lg-10">
            <h2>Product Dashboard</h2>
            <ol class="breadcrumb">
                <li>
                    <a href="index.html">Home</a>
                </li>
                <li>
                    <a>App views</a>
                </li>
                <li class="active">
                    <strong>Users</strong>
                </li>
            </ol>
        </div>
        <div class="col-lg-2"></div>
    </div>
    <div class="row">
        <div class="row wrapper wrapper-content border-bottom">
            <div class="col-lg-4" ng-repeat="node in productCategory">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Product</h5>
                        <div ibox-tools></div>
                    </div>
                    <div class="ibox-content">
                        <div class="tree-node tree-node-content" ng-model="node">
                            <a class="pull-right btn btn-white btn-xs" data-nodrag ng-click="show(this)"><span class="fa">Show</span></a>
                            <a class="btn btn-primary btn-xs" data-nodrag ng-click="toggle(this)"><span class="fa" ng-class="{'fa-angle-down': collapsed, 'fa-angle-right': !collapsed}"></span></a>
                            <label ng-if="!node['isNew']">{{node['name']}}</label>
                            <div class="input-group" ng-if="node['isNew']">
                                <input class="input-sm form-control" type="text" ng-model="node.name">
                                <span class="input-group-btn"><button type="button" class="btn btn-sm btn-primary" data-nodrag ng-click="save(this)"> change!</button> </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>