<div class="content">
    <div class="left-portion">
        <div class="header-left">
            <span class="logo-name" style="color: #B65D5D;font-size: 40px;letter-spacing: -6px;font-weight: 800;">{{appInfo.appName}}</span>
        </div>
        <div class="header-left" style="top: -6px; left: 20px;">
            <img alt="image" width="60px" class="img-circle" ng-src="{{appInfo.logo}}" />
        </div>
    </div>
    <div class="content-portion">
        <div class="header">
            <div class="header-left">
                <div class="float-left">Show:
                    <span class="g-aa-ca" role="button" aria-expanded="false" tabindex="0" aria-haspopup="true" aria-activedescendant=":v" style="-webkit-user-select: none;">
                        <span>
                            <span class="g-aa-ca-w" id=":v" role="option" aria-setsize="6" aria-posinset="1">All</span>
                            <span class="U-H"></span>
                        </span>
                    </span>
                </div>
            </div>
            <div class="O-j-p-J">
                <div class="O-j-Ic-c">
                    <div class="Ic-c  h-jk">
                        <a class="h-Ii Ic-c-Ic" href="#" style="display: none;">Sign in</a>
                        <span class="h-Bf Ic-c-Bf" tabindex="0">me.ashish005@gmail.com</span>
                        <div class="h-H Ic-c-H U-H"></div>
                    </div>
                </div>
                <div class="O-j-Zd-c">
                    <div class="Aa h-Hk Zd-c" tabindex="0" title="Settings"></div>
                </div>
            </div>
        </div>
    </div>
</div>