<div class="modal-content">
    <button type="button" style="padding: 10px 10px 0px 0px" class="close" aria-label="Close" data-ng-click="modalOptions.close()"><span>×</span></button>
    <h1 class="model-heading" style="text-transform: capitalize">{{modalOptions.name}}</h1>
    <div class="modal-body">
        <div class="row">
            <div class="col-xs-4">
                <img class="product-image" data-bind="attr: image, attr: flingData" src="http://ecx.images-amazon.com/images/I/41KBn8M0wCL._AC_UX500_SY400_.jpg" alt="Jawbone UP MOVE Activity Tracker for iOS and Android (Black Burst) with Onyx Standard Strap">
            </div>
            <div class="col-xs-8" style="border: 1px solid green;">
                Jawbone
                Jawbone UP3 Sleep, Heart Health and Activity Tracker for iOS...
                4.2 out of 5 stars 23
                Rs.  14,999.00
        </div>
        </div>
    </div>
    <div class="text-right content" style="padding:10px">
        <button class="btn btn-orange" data-ng-click="modalOptions.ok(this.modalOptions)">Save</button>
        <button class="btn btn-gray" data-ng-click="modalOptions.close()">Cancel</button>
    </div>
    <div class="clearfix"></div>
</div>