<div class="row border-bottom">
    <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <a class="logo-name" style="padding-left:20px; color: #B65D5D;font-size: 32px;letter-spacing: -2px;font-weight: 800;">
                <img alt="Logo" ng-src="{{appInfo['appLogo']}}" />
            </a>
        </div>
        <ul class="nav navbar-top-links navbar-right">
            <li>
                <a ng-click="$root.rightSidebar = !$root.rightSidebar">
                    <i class="fa fa-tasks"></i>
                </a>
            </li>
        </ul>
        <ul class="nav navbar-top-links navbar-right">
            <li>
                <a href="http://localhost:4001">Admin</a>
            </li>
            <li>
                <a href="#/login">Signin</a>
            </li>
            <li>
                <a href="#/register">Signup</a>
            </li>
        </ul>
        <!--<ul class="nav navbar-top-links navbar-right">
            <li>
                <a id="clearInfo">Signout</a>
            </li>
        </ul>-->
    </nav>
</div>
<div class="row wrapper border-bottom white-bg page-heading" ng-if="appInfo['hasSearchFilterMenu']">
    <div class="col-lg-2">
    </div>
    <div class="col-lg-8">
        <div class="input-group">
            <input class="form-control" type="text"> <span class="input-group-btn"> <button type="button" class="btn btn-primary">Go!</button> </span>
        </div>
        <div ng-include="'js-modules/core/templates/mega-menu.html'"></div>
    </div>
    <div class="col-lg-2">
    </div>
</div>
